In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('hart_data.csv')
df

,player names,vote-share,position,goals,assists,ops,dps,plus-minus,year
0,Wayne Gretzky,38.43,C,51,86,11.3,1.3,14.0,1980
1,Marcel Dionne,30.24,C,53,84,11.6,2.0,34.0,1980
2,Tony Esposito,11.66,G,0,1,0.0,0.0,0.0,1980
3,Guy Lafleur,8.01,RW,50,75,10.8,2.0,40.0,1980
4,Danny Gare,3.64,RW,56,33,8.3,2.1,48.0,1980
...,...,...,...,...,...,...,...,...,...
847,Roman Josi,0.41,D,23,62,8.0,4.8,12.0,2024
848,J.T. Miller,0.15,C,37,66,9.0,2.7,32.0,2024
849,Sebastian Aho,0.05,F,36,53,7.7,3.2,34.0,2024
850,Charlie Lindgren,0.05,G,0,0,0.0,0.0,0.0,2024
851,Sam Reinhart,0.05,C,57,37,10.0,3.1,29.0,2024